@import "tailwindcss";

* {
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
}

@layer utilities {
  .custom-radial-bg {
    background: radial-gradient(
      112.23% 112.23% at 50% -31.2%,
      rgba(152, 16, 250, 0.301) 0%,
      rgba(114, 28, 183, 0.447351) 70.48%,
      rgba(48, 48, 66, 0.1)
    );
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}

.hero-image {
  animation: slideInFromLeft 0.5s ease-out forwards;
}
