@import "tailwindcss";

* {
  font-family: sans-serif;
}

@media (min-width: 1137px) {
  .hero-container {
    display: flex;
  }

  img {
    margin-left: 190px;
    margin-top: 0;
  }
}

@layer utilities {
  .custom-radial-bg {
    background: radial-gradient(
      112.23% 112.23% at 50% -31.2%,
      rgba(152, 16, 250, 0.301) 0%,
      rgba(114, 28, 183, 0.447351) 70.48%,
      rgba(48, 48, 66, 0.1)
    );
  }
}
